@{
    Layout = null;
}
@model CasaVueStatic.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="~/assets/libraries/Font-Awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/libraries/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/libraries/bootstrap-fileinput/css/fileinput.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/libraries/nvd3/nv.d3.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/libraries/OwlCarousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/assets/libraries/OwlCarousel/owl-carousel/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/beopen.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/custom.css">
    <title>Casavue Home</title>
    <script src="//use.typekit.net/kbu5omp.js"></script>
    <script>
        try {
            Typekit.load();
        } catch (e) {
        }</script>
</head>
<body>
    <div class="header-standard">
        <div class="container relative">
            <div class="header-inner">
                <div class="header-main">
                    <div class="header-title">
                        <a href="~/">
                            <img src="http://www.casavue.com/assets/img/casavue-logo-white.png" alt="Casavue">
                            <span></span>
                        </a>
                    </div><!-- /.header-title -->
                    <div class="header-navigation">
                        <div class="nav-main-wrapper">
                            <div class="nav-main-title visible-xs">
                                <a href="~/">
                                    <img src="http://www.casavue.com/assets/img/casavue-logo.png" alt="Casavue">
                                </a>
                            </div><!-- /.nav-main-title -->
                            <div class="nav-main-inner">
                                <nav>
                                    <ul id="nav-main" class="nav nav-pills">
                                        <li>
                                            @Html.ActionLink("Home", "Index", "Home")
                                        </li>
                                        <li>
                                            @Html.ActionLink("How It Works", "HowItWorks", "Home")
                                        </li>
                                        <li>
                                            <a href="~/Home/Index#pricing">Pricing</a>
                                        </li>

                                        <li>
                                            @Html.ActionLink("Contact", "Contact", "Home")
                                        </li>
                                        <li class="important">
                                            <a href="#popup-holder" class="submitbtn">Sign in</a>
                                        </li>
                                    </ul><!-- /.nav -->
                                </nav>
                            </div><!-- /.nav-main-inner -->
                        </div><!-- /.nav-main-wrapper -->
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div><!-- /.header-navigation -->
                </div><!-- /.header-main -->
            </div>
        </div>
        <div id="header-slideshow" class="owl-carousel owl-theme">
            <div class="item">
                <div class="slide-bg">
                    <img src="http://www.casavue.com/assets/extra/slide1-final.jpg" alt="" />
                </div>

                <div class="slideshow-overlay">

                    <div class="container">
                        <div class="header-call-to-action">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 people">
                                    <img src="http://www.casavue.com/assets/extra/for-sale-lawn-sign.png" alt="">
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <h1>​Do-it-yourself home selling made easy.</h1>
                                    <p>
                                        Innovative tools to save you $1000’s.
                                    </p>
                                    <div class="buttons">
                                        <a href="#popup-holder" class="submitbtn btn btn-lg">Get started <em>FREE</em></a>
                                    </div><!-- /.buttons -->
                                </div>
                            </div>
                        </div><!-- /.header-call-to-action -->
                    </div>
                </div>
            </div>

            <div class="item slide-2">
                <div class="slide-bg">
                    <img src="http://www.casavue.com/assets/extra/slide2-final.jpg" alt="" />
                </div>
                <div class="slideshow-overlay">

                    <div class="container">
                        <div class="header-call-to-action">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <h1>Use our tools to attract more top buyers.</h1>
                                    <p>
                                        Reach a wider market for your property.
                                    </p>
                                    <div class="buttons">
                                        <a href="#popup-holder" class="submitbtn btn btn-lg">Get started <em>FREE</em></a>
                                    </div><!-- /.buttons -->
                                </div>
                                <div class="col-md-6 col-sm-6 people">
                                    <img src="http://www.casavue.com/assets/extra/open-house-lawn-sign.png" alt="">
                                </div>
                            </div>
                        </div><!-- /.header-call-to-action -->
                    </div>
                </div>
            </div>


            <div class="item">
                <div class="slide-bg">
                    <img src="http://www.casavue.com/assets/extra/slide3-final.jpg" alt="" />
                </div>

                <div class="slideshow-overlay">

                    <div class="container">
                        <div class="header-call-to-action">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 people">
                                    <img src="http://www.casavue.com/assets/extra/for-sale-sold-lawn-sign.png" alt="" style="margin-top: -58px;" class="visible-lg">
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <h1>Do-it-yourself home selling to save $1000’s.</h1>
                                    <p>
                                        Get it all now for a low monthly price.
                                    </p>
                                    <div class="buttons">
                                        <a href="#popup-holder" class="submitbtn btn btn-lg">Get started <em>FREE!</em></a>
                                    </div><!-- /.buttons -->
                                </div>
                            </div>
                        </div><!-- /.header-call-to-action -->
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="page-wrapper">
        <div class="main">
            <section class="fullwidth devices-bg center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6 mb50">
                            <h2>What we can do <span class="underline">for you.</span></h2>
                            <ul>
                               <li>Save you thousands of dollars in real estate fees.</li>
							   <li>Help you market your home like a real estate professional.</li>
							   <li>Repackage your home’s features to make it more attractive to buyers.</li>
							   <li>Increase your marketing reach to bring more buyers.</li>
							   <li>Sell your home for more money in less time.</li>

                              
                             </ul>
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="autoplay object-container object-macbook">
                            <div class="object-content">
                                <div class="object-frame-static"></div>
                                <div class="object-frame">
                                    <img src="http://www.casavue.com/assets/extra/casavue-shot.jpg" />
                                </div>
                            </div>
                            <img class="object-device" src="http://www.casavue.com/assets/img/macbook.png" alt="" />
                        </div>
                    </div>
            </section>

            <section class="fullwidth dot">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-4 beopen-row-animated" data-beopen-animation="slideRight">
                            <span class="tag fill">Beginner Package</span>
                            <h2>Virtual Lawn Sign</h2>
                            <p>With a click of a button share your home’s best features with thousands of potential buyers by leveraging popular social media sites like Facebook and LinkedIn.  Many of our customers report selling their homes using only this feature. It is included in the <i><b>free</i></b>  Kick-Starter package. </p>
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-4 beopen-row-animated" data-beopen-animation="slideLeft">
                            <span class="tag fill">Beginner Package</span>
                            <h2>Full Property Website</h2>
                            <p>Market your home like a professional. Within minutes, create a full property website to display beautifully the features and benefits of your home on any size computer screen or mobile device. We made it easy for you to showcase your home to today’s buyers who do their house search online. </p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                    <div class="row online images">
                        <div class="col-md-1"></div>
                        <div class="col-md-4 beopen-row-animated" data-beopen-animation="slideRight">
                            <div class="img"><img src="http://www.casavue.com/assets/img/products/lawn-sign.jpg" /></div>
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-4 beopen-row-animated" data-beopen-animation="slideLeft">
                            <div class="img"><img src="http://www.casavue.com/assets/img/products/sms-marketing.jpg" /></div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                    <div class="row online">
                        <div class="col-md-1"></div>
                        <div class="col-md-4 beopen-row-animated" data-beopen-animation="slideRight">
                            <span class="tag fill">Advanced Package</span>
                            <h2>Customized Lawn Sign</h2>
                            <p>Look professional. Buyers will take you seriously with a customized for sale sign on your front lawn.  The sign is shipped with a unique SMS code for buyers to instantly access your Full Property Website on their smart phones. </p>
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-4 beopen-row-animated" data-beopen-animation="slideLeft">
                            <span class="tag fill">Advanced Package</span>
                            <h2>SMS Marketing</h2>
                            <p>Real estate buyers today want information and they want it fast. Our SMS Marketing technology delivers your professional full listing website to buyers' smartphones. No delays. Get information to buyers instantly when they want it.</p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>


                    <div class="row full images">
                        <div class="col-md-1"></div>
                        <div class="col-md-4 beopen-row-animated" data-beopen-animation="slideRight">
                            <div class="img"><img src="http://www.casavue.com/assets/img/products/product-tour.jpg" /></div>
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-4 beopen-row-animated" data-beopen-animation="slideLeft">
                            <div class="img"><img src="http://www.casavue.com/assets/img/products/youtube.jpg" /></div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                    <div class="row full">
                        <div class="col-md-1"></div>
                        <div class="col-md-4 beopen-row-animated" data-beopen-animation="slideRight">
                            <span class="tag fill">Complete Package</span>
                            <h2>Online Open House</h2>
                            <p>The Online Open House displays your home 24 hours a day 7 days a week, giving buyers all-time accessibility.</p>
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-4 beopen-row-animated" data-beopen-animation="slideLeft">
                            <span class="tag fill">Complete Package</span>
                            <h2>Custom YouTube Commercial</h2>
                            <p>Fully engage prospective buyers to attract more offers. Easily create an interactive fully customized 2-5 minute walk through YouTube video. We will edit and add sound for more appeal and post it for viewing on your Full Property Website. Buyers are more likely to request a personal showing of a home after viewing a walk-through video.</p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>


                </div>
            </section>

            <section class="fullwidth background-testimonials block  mb0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <div class="testimonial owl-theme">
                                <div>
                                    <img class="testimonial-person" src="http://www.casavue.com/assets/img/testimonials/testimonial1.png" />
                                    <div class="testimonial-content">
                                        <p><i>CasaVue took all the complications out of real estate marketing and made it so easy. I felt like a real estate pro when selling my property. Thanks CasaVue!</i></p>
                                        <span class="person">Steve</span>
                                        <span class="person-location">New York, NY</span>
                                    </div>
                                </div>
                                <div>
                                    <img class="testimonial-person" src="http://www.casavue.com/assets/img/testimonials/testimonial2.png" />
                                    <div class="testimonial-content">
                                        <p><i>For $49 a month CasaVue gave us all the tools we needed to market our property widely to sell it fast and we saved lots of money.</i></p>
                                        <span class="person">Ken and Carol</span>
                                        <span class="person-location">Boulder, CO</span>
                                    </div>
                                </div>
                                <div>
                                    <img class="testimonial-person" src="http://www.casavue.com/assets/img/testimonials/testimonial3.png" />
                                    <div class="testimonial-content">
                                        <p><i>Having CasaVue customized lawn sign on our front lawn, showed potential buyers that we were serious and ready to sell our house for the right offer ;-)</i></p>
                                        <span class="person">Marty</span>
                                        <span class="person-location">Seattle, WA</span>
                                    </div>
                                </div>
                                <div>
                                    <img class="testimonial-person" src="http://www.casavue.com/assets/img/testimonials/testimonial4.png" />
                                    <div class="testimonial-content">
                                        <p><i>Setting up an account was so easy and using Virtual Lawn Sign to market my property on the social media for free was pretty cool. Can’t say enough good things about Casavue.</i></p>
                                        <span class="person">Rebecca</span>
                                        <span class="person-location">Toronto, ON</span>
                                    </div>
                                </div>
                                <div>
                                    <img class="testimonial-person" src="http://www.casavue.com/assets/img/testimonials/testimonial5.png" />
                                    <div class="testimonial-content">
                                        <p><i>Using CasaVue, we were able to increase foot traffic to our property virtually overnight.</i></p>
                                        <span class="person">Jerry</span>
                                        <span class="person-location">Austin,TX</span>
                                    </div>
                                </div>
                                <div>
                                    <img class="testimonial-person" src="http://www.casavue.com/assets/img/testimonials/testimonial6.png" />
                                    <div class="testimonial-content">
                                        <p><i>We used the CasaVue Complete Package option. We loved how easy it was to use and made us look professional.The extra level of support really made the difference.</i></p>
                                        <span class="person">Lucy</span>
                                        <span class="person-location">San Jose, CA</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.container -->
            </section>
            <section class="fullwidth">
                <div class="container">
                    <div class="features row">
                        <div class="feature col-sm-12 col-md-3">
                            <h3><i class="fa fa-bar-chart"></i> Analysis</h3>
                            <p>Our immensely powerful Customer Resource Manager (CRM) allows you to manage inbound sale leads, schedules, open houses and all the related data.</p>
                        </div>
                        <div class="feature col-sm-12 col-md-3">
                            <h3><i class="fa fa-user-plus"></i> Lead Generation</h3>
                            <p>Our proprietary Virtual Lawn Sign and SMS Marketing solutions drive potential buyers to your fully responsive listing website.</p>
                        </div>
                        <div class="feature col-sm-12 col-md-3">
                            <h3><i class="fa fa-css3"></i> CSS3 Animations</h3>
                            <p>Impress buyers with beautifully animated menus and galleries. Showcase your home and put it in the best light on any device with our full property website.</p>
                        </div>
                        <div class="feature col-sm-12 col-md-3">
                            <h3><i class="fa fa-support"></i> Friendly support</h3>
                            <p>Our team of virtual executive assistants are here to help you through any part of the process. We can even take care of everything if you'd prefer.</p>
                        </div>
                        <div class="feature col-sm-12 col-md-3">
                            <h3><i class="fa fa-image"></i> Photography</h3>
                            <p>Our Listing Pages feature a responsive gallery section allowing 60 up to unlimited photos of your property.</p>
                        </div>
                        <div class="feature col-sm-12 col-md-3">
                            <h3><i class="fa fa-mobile"></i> Responsive</h3>
                            <p>First impressions are everything and with hundreds of devices and screen sizes our fully responsive listing websites are the only way to guarantee a perfect presentation, every time.</p>
                        </div>
                        <div class="feature col-sm-12 col-md-3">
                            <h3><i class="fa fa-cog"></i> Interactive</h3>
                            <p>Our interactive walkthroughs stitch your photos into an interactive panorama or walkthrough. Once you experience it, you can never go back.</p>
                        </div>
                        <div class="feature col-sm-12 col-md-3">
                            <h3><i class="fa fa-heart"></i> Lovely Design</h3>
                            <p>Don't risk losing potential buyers with sub-par alternatives. Our refined, elegant, easy-to-use designs have been proven to sell homes quickly and easily.</p>
                        </div>
                    </div>
                </div>
            </section>

            <div class="container" id="pricing">
                <div class="row">
                    <div class="content col-sm-12 col-md-12">
                        <h2 class="page-header">Pricing</h2>
                        <div class="pricing">
                            <div class="row">
                                <div class="col-sm-6 col-md-3">
                                    <div class="pricing-col package-1">
                                        <div class="pricing-header">
                                            <div class="pricing-title">Kick-Start Package</div><!-- /.pricing-title -->
                                            <div class="pricing-value">Free</div><!-- /.pricing-value -->
                                            <div class="pricing-duration">&nbsp;</div><!-- /.pricing-duration -->
                                            <a class="btn submitbtn dialog-button" href="#popup-holder" class="btn"><span class="ink animate" style="height: 110px; width: 110px; top: -35px; left: 16.671875px;"></span>Get Started FREE</a>
                                        </div><!-- /.pricing-header -->
                                        <div class="pricing-content">
                                            <ul>
                                                <li>Lite Virtual Lawn Sign</li>
                                                <li>Lite Website</li>
                                                <li><span class="strike">Real Lawn Sign</span></li>
                                                <li><span class="strike">SMS Marketing</span></li>
                                                <li><span class="strike">Youtube Commercial</span></li>
                                                <li><span class="strike">Online Open House walk-through tour</span></li>
                                            </ul>
                                        </div><!-- /.pricing-content -->
                                    </div><!-- /.pricing-col-->
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="pricing-col package-2">
                                        <div class="pricing-header">
                                            <div class="pricing-title">Beginner Package</div><!-- /.pricing-title -->
                                            <div class="pricing-value">$ 19</div><!-- /.pricing-value -->
                                            <div class="pricing-duration">per month</div><!-- /.pricing-duration -->
                                            <a href="http://www.apexproducer.com/Account/Register?UserType=Seller" class="btn"><span class="ink animate" style="height: 110px; width: 110px; top: -33px; left: 4.171875px;"></span>Buy now</a>
                                        </div><!-- /.pricing-header -->
                                        <div class="pricing-content">
                                            <ul>
                                                <li>Virtual Lawn Sign</li>
                                                <li>Full Property Website</li>
                                                <li><span class="strike">Real Lawn Sign</span></li>
                                                <li><span class="strike">SMS Marketing</span></li>
                                                <li><span class="strike">Youtube Commercial</span></li>
                                                <li><span class="strike">Online Open House walk-through tour</span></li>
                                            </ul>
                                        </div><!-- /.pricing-content -->
                                    </div><!-- /.pricing-col-->
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="pricing-col popular package-3">
                                        <div class="pricing-header">
                                            <div class="pricing-title">Advanced Package</div><!-- /.pricing-title -->
                                            <div class="pricing-value">$ 49</div><!-- /.pricing-value -->
                                            <div class="pricing-duration">per month</div><!-- /.pricing-duration -->
                                            <a href="http://www.apexproducer.com/Account/Register?UserType=Seller" class="btn">Buy now</a>
                                        </div><!-- /.pricing-header -->
                                        <div class="pricing-content">
                                            <ul>
                                                <li>Virtual Lawn Sign</li>
                                                <li>Full Property Website</li>
                                                <li>Real Lawn Sign</li>
                                                <li>SMS Marketing</li>
                                                <li><span class="strike">Custom YouTube Commercial</span></li>
                                                <li><span class="strike">Online Open House Walk-through tour</span></li>
                                            </ul>
                                        </div><!-- /.pricing-content -->
                                    </div><!-- /.pricing-col-->
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="pricing-col package-4">
                                        <div class="pricing-header">
                                            <div class="pricing-title">Complete Package</div><!-- /.pricing-title -->
                                            <div class="pricing-value">$ 99</div><!-- /.pricing-value -->
                                            <div class="pricing-duration">per month</div><!-- /.pricing-duration -->
                                            <a href="http://www.apexproducer.com/Account/Register?UserType=Seller" class="btn">Buy now</a>
                                        </div><!-- /.pricing-header -->
                                        <div class="pricing-content">
                                            <ul>
                                                <li>Virtual Lawn Sign</li>
                                                <li>Full Property Website</li>
                                                <li>Real Lawn Sign</li>
                                                <li>SMS Marketing</li>
                                                <li>YouTube Commercial</li>
                                                <li>Online Open House walk-through tour</li>
                                            </ul>
                                        </div><!-- /.pricing-content -->
                                    </div><!-- /.pricing-col-->
                                </div>
                            </div>
                        </div><!-- /.pricing -->
                    </div><!-- /.content -->

                </div><!-- /.row -->
            </div><!-- /.container -->

            <div class="fullwidth background-green block center mb0">
                <div class="container">
                    <h1>Signup today and let us help you sell your home!</h1>
                    <div class="buttons">
                        <a class="btn submitbtn dialog-button" href="#popup-holder" class="btn">
<span class="ink animate" style="height: 110px; width: 110px; top: -35px; left: 16.671875px;">
</span>Get Started FREE</a>
                    </div>
                </div><!-- /.container -->
            </div>
        </div><!-- /.main -->
        <div id="footer" class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="footer-top-inner">
                        <nav>
                            <ul class="nav nav-pills">
                                <li>
                                    @Html.ActionLink("Home", "Index", "Home")
                                </li>
                                <li>
                                    @Html.ActionLink("How It Works", "HowItWorks", "Home")
                                </li>
                                <li>
                                    <a href="~/Home/Index#pricing">Pricing</a>
                                </li>

                                <li>
                                    @Html.ActionLink("Contact", "Contact", "Home")
                                </li>
                            </ul>
                        </nav>
                    </div><!-- /.footer-top-inner -->
                </div><!-- /.container -->
            </div><!-- /.footer-top -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="footer-bottom-inner">
                        <div class="footer-bottom-left">
                            &copy; 2015 Casavue. All rights reserved.
                        </div><!-- /.footer-bottom-left -->
                        <div class="footer-bottom-right">
                            <ul class="header-topbar-social ml30">
                                <li><a href="https://www.facebook.com/1844CasaVue"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://plus.google.com/115568953858325657933/posts"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/casavue"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://twitter.com/CasaVue1"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.pinterest.com/CasaVue/"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div><!-- /.footer-bottom-right -->
                    </div><!-- /.footer-bottom-inner -->
                </div><!-- /.container -->
            </div><!-- /.footer-bottom -->
        </div><!-- /.footer -->
    </div><!-- /.page-wrapper-->
    <div id="popup-holder" style="display:none">
        <div id="left">

            <form class="dialog-tab dialog-box-login" method="post" action="http://www.apexproducer.com/Account/CasavueLogin" style="">
                @Html.AntiForgeryToken()
                <div class="clearfix"></div>
                <div class="dialog-box">
                    <div class="dialog-title">Sign In</div>
                </div>
                <div class="rightsep">
                    <div class="input-box text-input-box">
                        <input autofocus="" tabindex="1" id="UserName" name="UserName" maxlength="60" class="inp enter-key" validation="notempty;email" placeholder="Email" type="email">
                        <label style="display: none;" id="msgUserName" name="email" class="input-box-desc hidden-element error-message"></label>
                        <label class="input-box-desc desc-message">e.g. yourname@gmail.com</label>
                    </div>
                    <div class="input-box radio-input-box">
                        <div class="context-holder">
                            <div class="input-panel">
                                <input tabindex="7" id="context-switch-radio-sign-up" checked="checked" name="context" value="sign-up" type="radio" style="-webkit-appearance: radio !important">
                            </div>
                            <div class="input-panel-text">
                                <label for="context-switch-radio-sign-up">I'm a new user</label>
                            </div>
                        </div>

                        <div class="context-holder">
                            <div class="input-panel">
                                <input tabindex="7" id="context-switch-radio-login" name="context" value="login"  type="radio" style="-webkit-appearance: radio !important">
                            </div>
                            <div class="input-panel-text">
                                <label for="context-switch-radio-login">I'm an existing user</label>
                            </div>
                        </div>

                    </div>
                    <div class="input-box text-input-box" style="margin-bottom: 8px">
                        <input tabindex="2" id="Password" name="Password" maxlength="15" class="inp enter-key" validation="notempty;length:{4,15};password" placeholder="Password" type="password">
                        <label id="msgPassword" style="display: none;" name="password" class="input-box-desc hidden-element error-message"></label>
                    </div>
                    <div class="dialog-box clearfix">
                        <span class="dialog-checkbox">
                            <input tabindex="5" id="login-input-remember" name="rememberMe" checked="checked" type="checkbox">
                            <label for="login-input-remember">Remember me</label>
                            <a id="login-switch-context-forgot-password" href="#" class="switch-context switch-context-link right" rev="forgot-password">Forgot Password?</a>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <div id="captcha-wrapper-login" class="hidden">
                        <span class="captcha-description">Just to make sure you're human, please type in the words you see below:</span>
                        <div id="wix-captcha-default-login"></div>
                        <label name="captchaValidation"></label>
                    </div>
                    <div class="action-box">
                        <input tabindex="6" id="login-action-go" class="dialog-button action-login" value="GO" type="submit">
                        <a href="#" tabindex="6" class="skip-login action-close switch-context-link" style="display:none">Skip login</a>

                    </div>
                </div>
            </form>
            <form method="post" action="http://www.apexproducer.com/Account/RegisterExternal" class="dialog-tab dialog-box-sign-up" style="display: none">
                <div class="clearfix"></div>
                <div class="dialog-box">
                    <div class="dialog-title">Sign Up</div>
                </div>
                <div class="rightsep">
                    <div class="input-box text-input-box">
                        <span class="input-box-title sign-up-email-title">My email address is</span>
                        <input tabindex="1" id="Email" name="Email" maxlength="60" class="inp enter-key" validation="notempty;email" placeholder="Email" type="email">

                        <label style="display: none;" name="email" class="input-box-desc hidden-element error-message signup-email-error"></label>
                        <div class="padding-box"></div>
                        <input tabindex="2" id="sign-up-input-email-validation" name="emailValidation" maxlength="60" class="inp enter-key" validation="match:email:trim,lowerCase" autocomplete="off" placeholder="Type your email again" type="email">
                        <label style="display: none;" name="emailValidation" class="input-box-desc hidden-element error-message"></label>
                        <label class="input-box-desc desc-message signup-emailvalidation-error">e.g. yourname@gmail.com</label>
                    </div>
                    <div class="input-box text-input-box">
                        <span class="input-box-title sign-up-password-title">Enter a password</span>
                        <input tabindex="3" id="regPassword" name="Password" maxlength="15" class="inp enter-key" validation="notempty;length:{4,15};password" autocomplete="off" placeholder="Password" type="password">

                        <label style="display: none;" name="password" class="input-box-desc hidden-element error-message signup-regPassword-error"></label>
                        <div class="padding-box"></div>
                        <input tabindex="4" id="sign-up-input-password-validation" name="passwordValidation" maxlength="15" validation="match:password" class="inp enter-key" autocomplete="off" placeholder="Type your password again" type="password">
                        <label style="display: none;" name="passwordValidation" class="input-box-desc hidden-element error-message signup-passwordValidation-error"></label>
                    </div>
                    <div class="dialog-box">
                        <a id="sign-up-switch-context-login" href="#" class="switch-context switch-context-link" rev="login">&lt;&lt;&nbsp;I'm an existing user</a>
                    </div>
                    <div class="action-box">
                        <input id="sign-up-action-go" tabindex="5" class="dialog-button action-signup" value="Sign Up" type="submit">
                        <input type="hidden" name="First_Name" id="First_Name" value="" /> <input type="hidden" name="Last_Name" id="Last_Name" value="" />
                    </div>
                </div>
                <div class="dialog-box">
                    <label class="input-box-desc desc-message">
                        * By signing up, you agree to our
                        <a href="#" target="_blank">Terms of Use</a>,
                        <a href="#" target="_blank">Privacy</a>
                        and to receive Casavue emails, newsletters &amp; updates.
                    </label>
                </div>
            </form>



            <form class="dialog-tab dialog-box-set-password" style="display:none">
                <div class="clearfix"></div>
                <div class="dialog-box">
                    <div class="dialog-title">Set Your Password</div>
                </div>
                <div class="forgot-desc">In order to update your settings you need to first set your Wix password:</div>
                <div class="input-box text-input-box">
                    <input tabindex="1" id="set-password-input-password" name="password" maxlength="15" class="inp enter-key" validation="notempty;length:{4,15};password" placeholder="Enter your new password" type="password">
                    <label style="display: none;" name="password" class="input-box-desc hidden-element error-message"></label>
                    <div class="padding-box"></div>
                    <input tabindex="2" id="set-password-input-password-validation" name="passwordValidation" maxlength="15" validation="match:password" class="inp enter-key" placeholder="Type your password again" type="password">
                    <label style="display: none;" name="passwordValidation" class="input-box-desc hidden-element error-message"></label>
                </div>
                <div class="action-box">
                    <input id="set-password-action-go" href="#" class="dialog-button action-set" value="GO" type="submit">
                </div>
            </form>
            <form class="dialog-tab dialog-box-forgot-password" style="display:none">
                <div style="display: block;" class="step-1">
                    <div class="clearfix"></div>
                    <div class="dialog-box">
                        <div class="dialog-title">Forgot Password?</div>
                    </div>
                    <div class="forgot-desc">Enter your Email address and we'll send you a link to reset your password</div>
                    <div class="input-box text-input-box">
                        <input tabindex="1" id="forgot-password-input-email" name="email" maxlength="60" class="inp enter-key" validation="notempty;email" placeholder="Email" type="text">
                        <label style="display: none;" name="email" class="input-box-desc hidden-element error-message"></label>
                        <label class="input-box-desc desc-message">e.g. yourname@gmail.com</label>
                    </div>
                    <div class="dialog-box">
                        <a href="#" id="forgot-password-switch-context-login" class="switch-context switch-context-link switch-context-label" rev="login">&lt;&lt;&nbsp;Back to Sign In</a>
                    </div>
                    <div class="action-box">
                        <input id="forgot-password-action-go" href="#" class="dialog-button action-forgot" value="GO" type="submit">
                    </div>
                </div>
                <div style="display: none;" class="step-2 hidden-element">
                    <div class="clearfix"></div>
                    <div class="dialog-box forgot-done-box">
                        <span class="forgot-done-img"></span>
                        <span class="forgot-done-desc">Email with a reset password link has been sent to you.</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="action-box">
                        <a id="forgot-password-action-done" href="#" class="dialog-button action-close">Done</a>
                    </div>
                </div>
            </form>
            <form class="dialog-tab dialog-box-account-verify" style="display:none">
                <div class="step-1">
                    <div class="clearfix"></div>
                    <div class="dialog-box">
                        <div class="dialog-title">Account Verification</div>
                    </div>
                    <div class="description">
                        <span class="email bold description"></span>
                        is the same email address used for your Wix account.
                    </div>
                    <div class="description">Please confirm that both accounts belong to you by entering your Wix password below:</div>
                    <div class="input-box text-input-box">
                        <input tabindex="2" id="account-verify-input-password" name="password" maxlength="15" class="inp enter-key" validation="notempty;length:{4,15};password" placeholder="Enter your Wix password here" type="password">
                        <label style="display: none;" name="password" class="input-box-desc hidden-element error-message"></label>
                        <span class="input-box-desc desc-message"></span>
                    </div>
                    <div class="dialog-box">
                        <a id="verify-switch-context-forgot-password" href="#" class="switch-context switch-context-link" rev="forgot-password">Forgot Password?</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="action-box">
                        <input id="forgot-password-action-go" tabindex="5" href="#" class="dialog-button action-verify" value="GO" type="submit">
                    </div>
                </div>
            </form>
            <form class="dialog-tab dialog-box-account-merge" style="display:none">
                <div class="clearfix"></div>
                <div class="dialog-box">
                    <div class="dialog-title">Already have a Wix account?</div>
                </div>
                <div class="description" social_network_str="If you've previously created a Wix account, you can use your {socialNetwork} login with your existing wix account."></div>
                <div class="bold description" social_network_str="To log in to your existing account with {socialNetwork}, please enter your Email Address and Password."></div>
                <div class="input-box text-input-box">
                    <input autofocus="" tabindex="1" id="account-merge-input-email" name="email" maxlength="60" class="inp enter-key" validation="notempty;email" placeholder="Email" type="text">
                    <label style="display: none;" name="email" class="input-box-desc hidden-element error-message"></label>
                </div>
                <div class="input-box text-input-box">
                    <input tabindex="2" id="account-merge-input-password" name="password" maxlength="15" class="inp enter-key" validation="notempty;length:{4,15};password" placeholder="Password" type="password">
                    <label style="display: none;" name="password" class="input-box-desc hidden-element error-message"></label>
                </div>
                <div class="dialog-box">
                    <a id="merge-switch-context-forgot-password" href="#" class="switch-context switch-context-link" rev="forgot-password">Forgot Password?</a>
                </div>
                <div class="clearfix"></div>
                <div class="action-box">
                    <input href="#" tabindex="7" id="merge-action-no" class="dialog-button action-nomerge" value="No, Thanks" type="button">
                    <input href="#" tabindex="6" id="merge-action-go" class="dialog-button action-merge" value="OK" type="submit">
                </div>
            </form>
            <form class="dialog-tab dialog-box-get-email" style="display:none">
                <div class="clearfix"></div>
                <div class="dialog-box">
                    <div class="dialog-title small">Please enter your email below:</div>
                </div>
                <div class="input-box text-input-box">
                    <input autofocus="" tabindex="1" id="account-merge-input-email" name="email" maxlength="60" class="inp enter-key" validation="notempty;email" placeholder="Email" type="text">
                    <label style="display: none;" name="email" class="input-box-desc hidden-element error-message"></label>
                    <label class="input-box-desc desc-message">e.g. yourname@gmail.com</label>
                </div>
                <div class="clearfix"></div>
                <div class="action-box">
                    <input href="#" tabindex="2" id="get-email-action-go" class="dialog-button action-get-email" value="OK" type="submit">
                </div>
            </form>
        </div>

        <div id="right">
            <div class="right-slider">
                <div class="social-login-tab-container">
                    <div class="seperator-text">or</div>
                    <div class="social-login-tab clearfix">
                        <div class="social-desc">Click below to sign in using your social account</div>
                        <div id="social-login-container" style="">

                            <iframe style="overflow: hidden" src="http://www.apexproducer.com/Account/CasavueLogin"></iframe>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="http://www.casavue.com/assets/js/jquery.js"></script>
    <script type="text/javascript" src="http://www.casavue.com/assets/libraries/jquery-transit/jquery.transit.js"></script>
    <script type="text/javascript" src="http://www.casavue.com/assets/libraries/bootstrap/assets/javascripts/bootstrap/dropdown.js"></script>
    <script type="text/javascript" src="http://www.casavue.com/assets/libraries/bootstrap/assets/javascripts/bootstrap/collapse.js"></script>
    <script type="text/javascript" src="http://www.casavue.com/assets/libraries/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="http://www.casavue.com/assets/libraries/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script type="text/javascript" src="http://www.casavue.com/assets/libraries/autosize/jquery.autosize.js"></script>
    <script type="text/javascript" src="http://www.casavue.com/assets/libraries/isotope/dist/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="http://www.casavue.com/assets/libraries/OwlCarousel/owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="http://www.casavue.com/assets/libraries/jquery.scrollTo/jquery.scrollTo.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization,places,drawing&amp;sensor=false" type="text/javascript"></script>
    <script type="text/javascript" src="http://www.casavue.com/assets/libraries/jquery-google-map/infobox.js"></script>
    <script type="text/javascript" src="http://www.casavue.com/assets/libraries/jquery-google-map/markerclusterer.js"></script>
    <script type="text/javascript" src="http://www.casavue.com/assets/libraries/jquery-google-map/jquery-google-map.js"></script>
    <script type="text/javascript" src="http://www.casavue.com/assets/libraries/nvd3/lib/d3.v3.js"></script>
    <script type="text/javascript" src="http://www.casavue.com/assets/libraries/nvd3/lib/d3.v3.js"></script>
    <script type="text/javascript" src="http://www.casavue.com/assets/libraries/nvd3/nv.d3.min.js"></script>
    <script type="text/javascript" src="http://www.casavue.com/assets/js/beopen.js"></script>
    <script type="text/javascript" src="http://www.casavue.com/assets/js/charts.js"></script>
    <script type="text/javascript" src="http://www.casavue.com/assets/js/map.js"></script>
    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="http://www.casavue.com/Scripts/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <!-- Add fancyBox main JS and CSS files -->
    <script type="text/javascript" src="http://www.casavue.com/Scripts/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css" href="http://www.casavue.com/Scripts/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />
    <script type="text/javascript">
        $(document).ready(function () {
            /*
             *  Simple image gallery. Uses default settings
             */

            $('.submitbtn').fancybox();

            /*
             *  Different effects
             */

            $("#UserName").change(function () {
                $("#Email").val($("#UserName").val());
            });

            $("#Password").change(function () {
                $("#regPassword").val($("#Password").val());
            });

            $("#sign-up-switch-context-login").click(function () {
                $(".dialog-box-login").show();
                $(".dialog-box-sign-up").hide();
            });

            // Login
            $('#login-action-go').click(function () {

                //Validation
                if ($("#UserName").val() == "") {
                    $("#msgUserName").html("Enter an email address").show();
                    return false;
                }

                if ($("#Password").val() == "") {
                    $("#msgPassword").html("Enter a password").show();
                    return false;
                }

				if ($("#Password").val().length < 8) {
                    $("#msgPassword").html("Password is too short. Please enter at least 8 character").show();
                    return false;
                }
				
                if ($("input:radio[name=context]:checked").val() == "login") {

                    $(".dialog-box-login").submit();

                } else {

                    //Check existing email
                    var url = "/Home/doesUserEmailExist";
                    var data = { UserName: $("#UserName").val() };
                    $.ajax({
                        dataType: "json",
                        method: 'POST',
                        url: url,
                        data: data,
                        success: function (data) {
                            if (data == false) {
                                $(".dialog-box-login").hide();
                                $(".dialog-box-sign-up").show();
                            } else {
                                $("#msgUserName").html("Email already exist.").show();
                            }
                        }
                    });
                    return false;
                }

            });


            //signup action
            $("#sign-up-action-go").click(function () {
                //Validation
                if ($("#Email").val() == "") {
                    $(".signup-email-error").html("Enter an email address").show();
                    return false;
                }

                if ($("#sign-up-input-email-validation").val() == "") {
                    $(".signup-emailvalidation-error").html("Enter an email address").show();
                    return false;
                }

                if ($("#sign-up-input-email-validation").val() != $("#Email").val()) {
                    $(".signup-emailvalidation-error").html("Email address didn't matched").show();
                    return false;
                }


                //password vaidation
                if ($("#regPassword").val() == "") {
                    $(".signup-regPassword-error").html("Enter a password").show();
                    return false;
                }

                if ($("#sign-up-input-password-validation").val() == "") {
                    $(".signup-passwordValidation-error").html("Confirm password cannot be blank").show();
                    return false;
                }

                if ($("#regPassword").val() != $("#sign-up-input-password-validation").val()) {
                    $(".signup-emailvalidation-error").html("Confirm Password didnt matched").show();
                    return false;
                }

            });

        });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            'use strict';

            var isMobile = ((navigator.userAgent.indexOf('Linux') > -1) || (navigator.userAgent.indexOf('Android') > -1)) && navigator.userAgent.indexOf('Mozilla/5.0') > -1 && navigator.userAgent.indexOf('AppleWebKit') > -1;

            $('#header-slideshow').owlCarousel({
                singleItem: true,
                navigation: true,
                autoPlay: 5000,
                stopOnHover: true
            });


            $('.testimonial').owlCarousel({
                singleItem: true,
                autoPlay: 5000

            });

            $(document).scroll(function () {
                var $scrollTop = $(document).scrollTop();
                $('.slideshow-overlay').css('opacity', 1 - $scrollTop / 600);

                $('.beopen-row-animated').each(function () {

                    if (isMobile) {
                        // disable animations for Android
                        $('.beopen-row-animated').removeClass('beopen-row-animated');
                    }
                    else {
                        var imagePos = $(this).offset().top;
                        var topOfWindow = $(window).scrollTop();



                        if (imagePos < topOfWindow + $(window).height() - 200) {
                            $(this).addClass($(this).data('beopen-animation'));
                        }
                        else {
                            $(this).removeClass($(this).data('beopen-animation'));
                        }
                    }
                });

            });

            setTimeout(function () { $(document).trigger('scroll'); }, 1000);

        });

    </script>


    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-17919379-2']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

</body>
</html>

